<header>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	<p>
	<nav>
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
